body{
    background-image: url("../assets/background-image.png");
    font-family: 'Didact Gothic', sans-serif;
}

#welcome-container{
    background-color: white;
    height: 350px;
    width: 1000px;
    margin-top: 5%;
    border-radius: 20px;
    display: none;
}

#welcome h1{
    padding-top: 2%;
}

#welcome p{
    padding-top: 5%;
}

#welcome button{
    margin-top: 5%;
}

#quiz-container{
    background-color: white;
    height: 500px;
    width: 1000px;
    margin-top: 5%;
    border-radius: 20px;
    display: none;
}

#timer-container{ 
    margin-top: 1%;
    display: none;
}

#timer-div{
    background-color: white;
    height:100px;
    width: 200px;
    border-radius: 20px;
}